<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDst8T_I2aerbcGuhTf0YJBqsQcpRPleb0</string>
	<key>GCM_SENDER_ID</key>
	<string>346923515625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocerystore</string>
	<key>PROJECT_ID</key>
	<string>grocerystore-dee73</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerystore-dee73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346923515625:ios:afd6f40a3bb81511bd7a78</string>
</dict>
</plist>